# Environment variables for the Flask Ultralytics video API
# Override these values in Docker or local development as needed.

# Directory where processed videos are written
OUTPUT_DIR=output

# YOLO weights file to load; default is yolov8n.pt
# download using: wget https://github.com/ultralytics/assets/releases/download/v8.4.0/yolov{version}{size}.pt -O models/yolov{version}{size}.pt
# for details, see https://github.com/ultralytics/assets/releases
YOLO_MODEL=models/yolov8n.pt

# Tracker config for ultralytics track. Example options:
# bytetrack.yaml, botsort.yaml
# botsort works better if objects are overlapping a lot (using ReID), but is slower than bytetrack
TRACKER_NAME=botsort.yaml
