# Environment variables for the Flask Ultralytics video API
# Override these values in Docker or local development as needed.

# YOLO weights file to load; default is yolov8n.pt
# download using: wget https://github.com/ultralytics/assets/releases/download/v8.4.0/yolo{version}{size}.pt -O models/yolo{version}{size}.pt
# example wget https://github.com/ultralytics/assets/releases/download/v8.4.0/yolo26n-cls.pt -O models/yolo26n-cls.pt
# for details, see https://github.com/ultralytics/assets/releases
YOLO_MODEL=models/yolo26x.pt

# Tracker config for ultralytics track. Example options:
# bytetrack.yaml, botsort.yaml
# botsort works better if objects are overlapping a lot (using ReID), but is slower than bytetrack
TRACKER_NAME=trackers/botsort_reid.yaml
