# Environment variables for the Flask Ultralytics video API
# Override these values in Docker or local development as needed.

# Directory where processed videos are written
OUTPUT_DIR=output

# YOLO weights file to load; default is yolov8n.pt
YOLO_MODEL=models/yolov8n.pt

# Tracker config for ultralytics track. Example options:
# bytetrack.yaml, botsort.yaml
# botsort works better if objects are overlapping a lot (using ReID), but is slower than bytetrack
TRACKER_NAME=botsort.yaml
